<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>創業までのおはなし - 銭湯ぐらし</title>
  <meta name="description" content="「株式会社 銭湯ぐらし」は、2017年3月から2018年2月に実施されたプロジェクト「銭湯ぐらし」から生まれました。　　「銭湯ぐらし」は、東京都杉並区の銭湯「小杉湯」の隣、解体を控えた風呂なしアパートを舞台に、多様なクリエイターが共にくらし、それぞれの専門分野と銭湯を掛け合せた活動を展開したプロジェクトです。1年間のさまざまな実験的な取り組みを通し、銭湯を活用した事業や、銭湯が日常にあるくらしの可能性を探りました。　　例えば、イラスト・デザインによる銭湯のイメージアップや情報発信。銭湯を介した企業プロモーション。音楽フェスの開催による、営業時間外の浴室の活用や新規利用者の創出。アパート内では民泊を運営し、外国人への日本文化体験や観光拠点を提供したほか、月替わりでアーティストが滞在し、作品を制作するプログラム等も実施。風呂なしアパートを「銭湯つきアパート」として再編集した結果、銭湯を介した新しいまちづくりやコミュニティの基点となりました。　　このように、それぞれの専門性を生かしながら1つの価値を創り上げることができたのは、「銭湯があるくらし（余白のあるくらし）」の豊かさを共有するチームだったからです。　　アパートは解体されましたが、「1年の実験で見いだした可能性を、新しい事業や文化として発展させていきたい」、そして「このチームの輪を広げ、多様なメンバーで新しい時代の価値をつくっていきたい」と考え、法人化することを決めました。　　価値観を共有するコミュニティが日常にあり、そこでの活動が仕事や余暇にもつながる。そのような余白のある働き方・チームづくりを、私たち自身も実践していきたいと考えています。">
  <meta property="fb:app_id" content="306929856428469" />
  <meta property="og:title" content="創業までのおはなし - 銭湯ぐらし" />
  <meta property="og:url" content="http://www.sentogurashi.com/history/" />
  <meta property="og:description" content="「株式会社 銭湯ぐらし」は、2017年3月から2018年2月に実施されたプロジェクト「銭湯ぐらし」から生まれました。　　「銭湯ぐらし」は、東京都杉並区の銭湯「小杉湯」の隣、解体を控えた風呂なしアパートを舞台に、多様なクリエイターが共にくらし、それぞれの専門分野と銭湯を掛け合せた活動を展開したプロジェクトです。1年間のさまざまな実験的な取り組みを通し、銭湯を活用した事業や、銭湯が日常にあるくらしの可能性を探りました。　　例えば、イラスト・デザインによる銭湯のイメージアップや情報発信。銭湯を介した企業プロモーション。音楽フェスの開催による、営業時間外の浴室の活用や新規利用者の創出。アパート内では民泊を運営し、外国人への日本文化体験や観光拠点を提供したほか、月替わりでアーティストが滞在し、作品を制作するプログラム等も実施。風呂なしアパートを「銭湯つきアパート」として再編集した結果、銭湯を介した新しいまちづくりやコミュニティの基点となりました。　　このように、それぞれの専門性を生かしながら1つの価値を創り上げることができたのは、「銭湯があるくらし（余白のあるくらし）」の豊かさを共有するチームだったからです。　　アパートは解体されましたが、「1年の実験で見いだした可能性を、新しい事業や文化として発展させていきたい」、そして「このチームの輪を広げ、多様なメンバーで新しい時代の価値をつくっていきたい」と考え、法人化することを決めました。　　価値観を共有するコミュニティが日常にあり、そこでの活動が仕事や余暇にもつながる。そのような余白のある働き方・チームづくりを、私たち自身も実践していきたいと考えています。" />
  <meta property="og:image" content="http://www.sentogurashi.com/assets/images/history/hero.jpg" />
  <meta property="og:image:width" content="1280" />
  <meta property="og:image:height" content="853" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@sentogurashi">
  <meta name="twitter:title" content="創業までのおはなし - 銭湯ぐらし">
  <meta name="twitter:description" content="「株式会社 銭湯ぐらし」は、2017年3月から2018年2月に実施されたプロジェクト「銭湯ぐらし」から生まれました。　　「銭湯ぐらし」は、東京都杉並区の銭湯「小杉湯」の隣、解体を控えた風呂なしアパートを舞台に、多様なクリエイターが共にくらし、それぞれの専門分野と銭湯を掛け合せた活動を展開したプロジェクトです。1年間のさまざまな実験的な取り組みを通し、銭湯を活用した事業や、銭湯が日常にあるくらしの可能性を探りました。　　例えば、イラスト・デザインによる銭湯のイメージアップや情報発信。銭湯を介した企業プロモーション。音楽フェスの開催による、営業時間外の浴室の活用や新規利用者の創出。アパート内では民泊を運営し、外国人への日本文化体験や観光拠点を提供したほか、月替わりでアーティストが滞在し、作品を制作するプログラム等も実施。風呂なしアパートを「銭湯つきアパート」として再編集した結果、銭湯を介した新しいまちづくりやコミュニティの基点となりました。　　このように、それぞれの専門性を生かしながら1つの価値を創り上げることができたのは、「銭湯があるくらし（余白のあるくらし）」の豊かさを共有するチームだったからです。　　アパートは解体されましたが、「1年の実験で見いだした可能性を、新しい事業や文化として発展させていきたい」、そして「このチームの輪を広げ、多様なメンバーで新しい時代の価値をつくっていきたい」と考え、法人化することを決めました。　　価値観を共有するコミュニティが日常にあり、そこでの活動が仕事や余暇にもつながる。そのような余白のある働き方・チームづくりを、私たち自身も実践していきたいと考えています。">
  <meta name="twitter:image:src" content="http://www.sentogurashi.com/assets/images/history/hero.jpg">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta property="og:type" content="article" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/hannari.css">
  <link rel="stylesheet" href="/dest/styles/main.css">
  <script src="/dest/scripts/common.bundle.js"></script>
</head>

<body>
  <div class="LoadingView js-LoadingView"></div>
  <div class="Container Container--withOffset">
    <div class="Header__underlay js-Header__underlay"></div>
    <header class="Header js-Header">
      <nav class="GlobalNavigationSp js-GlobalNavigationSp">
        <div class="GlobalNavigationSp__content">
          <ul class="GlobalNavigationSp__list">
            <li class="GlobalNavigationSp__item">
              <a href="/about">銭湯ぐらしとは</a>
            </li>
            <li class="GlobalNavigationSp__item">
              <a href="/#project">私たちにできること</a>
            </li>
            <li class="GlobalNavigationSp__item">
              <a href="/member">銭湯ぐらしの人々</a>
            </li>
            <li class="GlobalNavigationSp__item">
              <a href="/history">創業までのおはなし</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="Header__inner">
        <div class="Header__columnMain">
          <a class="Header__logo" href="/">
            <h1>銭湯ぐらし</h1>
          </a>
        </div>
        <div class="Header__columnSub">
          <nav class="GlobalNavigationPc">
            <ul class="GlobalNavigationPc__list">
              <li class="GlobalNavigationPc__item">
                <a href="/about">銭湯ぐらしとは</a>
              </li>
              <li class="GlobalNavigationPc__item">
                <a href="/#project">私たちにできること</a>
              </li>
              <li class="GlobalNavigationPc__item">
                <a href="/member">銭湯ぐらしの人々</a>
              </li>
              <li class="GlobalNavigationPc__item">
                <a href="/history">創業までのおはなし</a>
              </li>
            </ul>
          </nav>
          <ul class="SocialLinks SocialLinks--pc">
            <li class="SocialLinks__item SocialLinks__item--twitter"><a href="https://twitter.com/sentogurashi" target="_blank">twitter</a></li>
            <li class="SocialLinks__item SocialLinks__item--facebook"><a href="https://www.facebook.com/sentogurashi" target="_blank">facebook</a></li>
          </ul>
          <ul class="GlobalNavigationSp__trigger js-GlobalNavigationSp__trigger">
            <li class="GlobalNavigationSp__triggerBorder"></li>
            <li class="GlobalNavigationSp__triggerBorder"></li>
            <li class="GlobalNavigationSp__triggerBorder"></li>
          </ul>
        </div>
      </div>
    </header>
    <div class="HeroImage js-Parallax">
      <div class="HeroImage__inner js-Parallax__inner">
        <div class="HeroImage__image" style="background-image:url('/dest/images/history/hero.jpg')"></div>
      </div>
    </div>
    <section class="Module Module--top">
      <article class="Article Article--withColumn">
        <div class="Article__headingContainer">
          <h1 class="Heading Heading--level1 Heading--vertical Module__heading Article__heading">創業までの<br>おはなし<br></h1>
        </div>
        <!-- /.Article__headingContainer -->
        <div class="Article__body">
          <div class="Text">
            <p class="Text__paragraph">「株式会社 銭湯ぐらし」は、2017年3月から2018年2月に実施されたプロジェクト「銭湯ぐらし」から生まれました。</p>
            <p class="Text__paragraph">「銭湯ぐらし」は、東京都杉並区の銭湯「小杉湯」の隣、解体を控えた風呂なしアパートを舞台に、多様なクリエイターが共にくらし、それぞれの専門分野と銭湯を掛け合せた活動を展開したプロジェクトです。1年間のさまざまな実験的な取り組みを通し、銭湯を活用した事業や、銭湯が日常にあるくらしの可能性を探りました。</p>
            <p class="Text__paragraph">例えば、イラスト・デザインによる銭湯のイメージアップや情報発信。銭湯を介した企業プロモーション。音楽フェスの開催による、営業時間外の浴室の活用や新規利用者の創出。アパート内では民泊を運営し、外国人への日本文化体験や観光拠点を提供したほか、月替わりでアーティストが滞在し、作品を制作するプログラム等も実施。風呂なしアパートを「銭湯つきアパート」として再編集した結果、銭湯を介した新しいまちづくりやコミュニティの基点となりました。</p>
            <p class="Text__paragraph">このように、それぞれの専門性を生かしながら1つの価値を創り上げることができたのは、「銭湯があるくらし（余白のあるくらし）」の豊かさを共有するチームだったからです。</p>
            <p class="Text__paragraph">アパートは解体されましたが、「1年の実験で見いだした可能性を、新しい事業や文化として発展させていきたい」、そして「このチームの輪を広げ、多様なメンバーで新しい時代の価値をつくっていきたい」と考え、法人化することを決めました。</p>
            <p class="Text__paragraph">価値観を共有するコミュニティが日常にあり、そこでの活動が仕事や余暇にもつながる。そのような余白のある働き方・チームづくりを、私たち自身も実践していきたいと考えています。</p>
          </div>
        </div>
        <!-- /.Article__body -->
      </article>
    </section>
    <!-- /.Module -->
    <section class="Module">
      <h1 class="Heading Heading--level1 Heading--horizontal Module__heading Article__heading">さらに知る</h1>
      <div class="Module__gridListContainer">
        <ul class="GridList GridList--large">
          <li class="GridList__item">
            <a class="Cell" href="/assets/documents/report_of_sentogurashi.pdf">
              <div class="Cell__thumbnail" style="background-image:url('/dest/images/history/report.jpg')"></div>
              <p class="Cell__title">プロジェクト報告書（PDF）</p>
            </a>
          </li>
          <li class="GridList__item">
            <a class="Cell" href="/archive/">
              <div class="Cell__thumbnail" style="background-image:url('/dest/images/history/hero.jpg')"></div>
              <p class="Cell__title">プロジェクトウェブサイト</p>
            </a>
          </li>
        </ul>
      </div>
      <!-- /.Module__gridListContaier -->
    </section>
    <!-- /.Module -->
    <div class="Footer">
      <p class="Footer__text">© 2018 Sentogurashi,inc</p>
    </div>
  </div><!-- /.Container -->
  <!-- GA -->
  <script>
    (function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-100837084-1', 'auto');
    ga('send', 'pageview');
  </script>
  <!-- /GA -->
</body>

</html>