$width-narrow-content: 640px;
$width-responsive-wrapper: 80%;
$width-max-responsive-wrapper: 1400px;
$width-tophero-cover: 100vh * (750 / 1280);
$height-tophero-cover: 100% * (640 / 750);
$size-normal-thumbnail: 100% * (2 / 3);
