$spacing-unit: 5px;

$spacing-XXSmall: 2px;
$spacing-XSmall: 3px;
$spacing-small: $spacing-unit; // 5px
$spacing-normal: $spacing-unit * 2; // 10px
$spacing-middle: $spacing-normal * 1.5; //15px
$spacing-large: $spacing-normal * 2; // 20px
$spacing-XLarge: $spacing-normal * 3; // 30px
$spacing-XXLarge: $spacing-normal * 4; // 40px
$spacing-XXXLarge: $spacing-normal * 5; // 50px
