<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>銭湯ぐらしの人々 - 銭湯ぐらし</title>
  <meta name="description" content="TODO">
  <meta property="fb:app_id" content="306929856428469" />
  <meta property="og:title" content="銭湯ぐらしの人々 - 銭湯ぐらし" />
  <meta property="og:url" content="http://www.sentogurashi.com/member/" />
  <meta property="og:description" content="TODO" />
  <meta property="og:image" content="http://www.sentogurashi.com/assets/images/share/member.jpg" />
  <meta property="og:image:width" content="1280" />
  <meta property="og:image:height" content="853" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@sentogurashi">
  <meta name="twitter:title" content="銭湯ぐらしの人々 - 銭湯ぐらし">
  <meta name="twitter:description" content="TODO">
  <meta name="twitter:image:src" content="http://www.sentogurashi.com/assets/images/share/member.jpg">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta property="og:type" content="article" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/hannari.css">
  <link rel="stylesheet" href="../styles/main.css">
</head>

<body>
  <div class="Container">
    <header class="Header">
      <div class="Header__columnMain">
        <h1 class="Header__logo"></h1>
      </div>
      <div class="Header__columnSub">
        <nav class="GrobalNavigationPc">
          <ul class="GrobalNavigationPc__list">
            <li class="GrobalNavigationPc__item">
              <a href="/about">銭湯ぐらしとは</a>
            </li>
            <li class="GrobalNavigationPc__item">
              <a href="\#project">私たちにできること</a>
            </li>
            <li class="GrobalNavigationPc__item">
              <a href="/member">銭湯ぐらしの人々</a>
            </li>
            <li class="GrobalNavigationPc__item">
              <a href="/history">創業までのおはなし</a>
            </li>
          </ul>
        </nav>
        <ul class="SocialLinks">
          <li class="SocialLinks__item SocialLinks__item--twitter"><a href="https://twitter.com/sentogurashi">twitter</a></li>
          <li class="SocialLinks__item SocialLinks__item--facebook"><a href="https://www.facebook.com/sentogurashi">facebook</a></li>
        </ul>
        <div class="GrobalNavigationSp__trigger js-GrobalNavigationSp__trigger"></div>
      </div>
    </header>
    <nav class="GrobalNavigationSp js-GrobalNavigationSp">
      <ul class="GrobalNavigationSp__list">
        <li class="GrobalNavigationSp__item">
          <a href="/about">銭湯ぐらしとは</a>
        </li>
        <li class="GrobalNavigationSp__item">
          <a href="\#project">私たちにできること</a>
        </li>
        <li class="GrobalNavigationSp__item">
          <a href="/member">銭湯ぐらしの人々</a>
        </li>
        <li class="GrobalNavigationSp__item">
          <a href="/history">創業までのおはなし</a>
        </li>
      </ul>
    </nav>
    <div class="Hero">
      <div class="Hero__inner">
        <div class="Hero__image" style="background-image:url(../../images/)"></div>
      </div>
    </div>
    <article class="Article Article--vertical">
      <div class="Article__heading">
        <h1 class="Heading Heading--level1">銭湯ぐらしの人々</h1>
      </div>
      <!-- /.Article__heading -->
      <div class="Article__body">
        <div class="Text">
          <p class="Text__paragraph">銭湯を介して出会った専門家集団。<br>建築・デザイン・プロデュース・事業企画を中心に、「銭湯ぐらし」の価値観に共感するメンバーが集います。音楽・アート・ツーリズム・プロモーション・施設運営など、さまざまな視点から、銭湯のように豊かな「余白」づくりに取り組みます。</p>
        </div>
      </div>
      <!-- /.Article__body -->
    </article>
    <ul class="ProfileList">
      <li class="ProfileList__item Profile">
        <div class="Profile__columnSub">
          <div class="Profile__photo"></div>
        </div>
        <dl class="Profile__ColumnMain">
          <dt class="Profile__name">加藤 優一</dt>
          <dd class="Profile__title">
            <p class="Profile__position">代表取締役</p>
            <p class="Profile__profession">建築家</p>
          </dd>
          <dd> (社)最上のくらし舎代表理事／OpenA+公共R不動産。東北大学博士課程単位取得退学。2011年より復興事業に携わりながら、自治体組織と計画プロセスの研究に従事。2015年より現職にて、建築の企画・設計、まちづくり、編集・執筆等に携わる。近作に『佐賀城公園トータルディレクション』・『西予市庁舎オフィス改革』、『万場町 のくらし』・近著に『CREATIVE LOCAL』・『公共R不動産のプロジェクトスタディ』。
          </dd>
        </dl>
      </li>
      <li class="ProfileList__item Profile">
        <div class="Profile__columnSub">
          <div class="Profile__photo"></div>
        </div>
        <dl class="Profile__ColumnMain">
          <dt class="Profile__name">伊藤 直樹</dt>
          <dd class="Profile__title">
            <p class="Profile__position">取締役</p>
            <p class="Profile__profession">マーケター</p>
          </dd>
          <dd>朝日新聞社に入社しニュースサイト「朝日新聞デジタル」のディレクターとして 月間 3 億 P V を超えるサイトとアプリの改善に従事。2016 年よりモバイルアプリの 改善ソリューションを提供する Repro 株式会社にマーケターとし参画し、市場創出 から新規顧客の獲得まで幅広く行う。</dd>
        </dl>
      </li>
      <li class="ProfileList__item Profile">
        <div class="Profile__columnSub">
          <div class="Profile__photo"></div>
        </div>
        <dl class="Profile__ColumnMain">
          <dt class="Profile__name">宮 早希枝</dt>
          <dd class="Profile__title">
            <p class="Profile__position">取締役</p>
            <p class="Profile__profession">プロデューサー</p>
          </dd>
          <dd>2009 年より大手広告制作会社にて企業と生活者を結ぶ様々なプロモーションの企画 から運営に従事。2017年より独立し、日本の地域観光資源を活用した国内のインバウンド案件の統合プロデュースやキュレーションなど、人と場所を結びつける プロモーション領域に携わっている。</dd>
        </dl>
      </li>
      <li class="ProfileList__item Profile">
        <div class="Profile__columnSub">
          <div class="Profile__photo"></div>
        </div>
        <dl class="Profile__ColumnMain">
          <dt class="Profile__name">菅谷 真央</dt>
          <dd class="Profile__title">
            <p class="Profile__position">取締役</p>
            <p class="Profile__profession">デザイナー</p>
          </dd>
          <dd>大学在学中から BUDDHA,inc の立ち上げメンバーとしてグラフィック、WEB、映像、 写真など様々なジャンルの仕事を経験。2017年よりWantedly,incにInternational チームのメインデザイナーとして参画。プライベートではメディア運営やフォトグラファー としても活動。武蔵野美術大学講師。</dd>
        </dl>
      </li>
      <li class="ProfileList__item Profile">
        <div class="Profile__columnSub">
          <div class="Profile__photo"></div>
        </div>
        <dl class="Profile__ColumnMain">
          <dt class="Profile__name">江本 祐介</dt>
          <dd class="Profile__title">
            <p class="Profile__profession">ミュージシャン</p>
          </dd>
          <dd>バンド、弾き語りの活動を経て現在は自身の楽曲や CM 音楽やドラマの劇伴の制作 ほかアーティストのREMIXや編曲を行う。ENJOY MUSIC CLUB ではトラックと歌と ラップを担当。小杉湯では深夜営業後の浴室清掃バイトを担当。</dd>
        </dl>
      </li>
      <li class="ProfileList__item Profile">
        <div class="Profile__columnSub">
          <div class="Profile__photo"></div>
        </div>
        <dl class="Profile__ColumnMain">
          <dt class="Profile__name">塩谷 歩波</dt>
          <dd class="Profile__title">
            <p class="Profile__profession">イラストレーター</p>
          </dd>
          <dd>小杉湯所属。建築の道を志すが体調不良により銭湯に通い始め、2017 年小杉湯に 転職。建築時代に培った知識を元に制作した「銭湯図解」が話題を呼び、現在は各種 メディアでのイラスト制作も手がけている。好きな水風呂の温度は 15 度。</dd>
        </dl>
      </li>
      <li class="ProfileList__item Profile">
        <div class="Profile__columnSub">
          <div class="Profile__photo"></div>
        </div>
        <dl class="Profile__ColumnMain">
          <dt class="Profile__name">大黒 健嗣</dt>
          <dd class="Profile__title">
            <p class="Profile__profession">アートディレクター</p>
          </dd>
          <dd>オルタナティブスペース AMPcafe の運営を 2008 年よりスタート。2016 年アート ホテル BnAhotel Koenji をスタート。創業メンバーとしてアートディレクションと コミュニティー部門を担当。高円寺では壁画プロジェクトや各イベント参加などを 通 じ て 街 型 の ア ー トプ ロ ジ ェ クト を 展 開 して い る 。</dd>
        </dl>
      </li>
      <li class="ProfileList__item Profile">
        <div class="Profile__columnSub">
          <div class="Profile__photo"></div>
        </div>
        <dl class="Profile__ColumnMain">
          <dt class="Profile__name">大月 美帆</dt>
          <dd class="Profile__title">
            <p class="Profile__profession">銭湯番台</p>
          </dd>
          <dd>1986年生まれ。宮崎県出身。高円寺歴 13 年目突入! 小杉湯の常連客として通う 近所の主婦。語学を生かし地域の人と外国人との間に入りおしゃべりコミュニケーター になるべく奮闘中。</dd>
        </dl>
      </li>
      <li class="ProfileList__item Profile">
        <div class="Profile__columnSub">
          <div class="Profile__photo"></div>
        </div>
        <dl class="Profile__ColumnMain">
          <dt class="Profile__name">雨田宇以</dt>
          <dd class="Profile__title">
            <p class="Profile__profession">編集者</p>
          </dd>
          <dd>印刷会社営業を経て出版の道へ。出張先の京都で銭湯愛にめざめ、それ以来いつでも どこでも銭湯に入れるようにタオルとシャンプーを持ち歩くようになる。いつか寅さんの ロ ケ 地 巡 り を し た い と 思 って い る 。</dd>
        </dl>
      </li>
      <li class="ProfileList__item Profile">
        <div class="Profile__columnSub">
          <div class="Profile__photo"></div>
        </div>
        <dl class="Profile__ColumnMain">
          <dt class="Profile__name">小川 高弘</dt>
          <dd class="Profile__title">
            <p class="Profile__profession">デザイナー</p>
          </dd>
          <dd>都内のインターネット企業で Web デザイナーとして働きながら、日々銭湯通いに 精を出す 3 0 歳。広く深くをモットーに、サイトの構築からコンテンツ制作、グラウンドの 草むしりにいたるまで、さまざまな形で「銭湯ぐらし」をサポートしている。</dd>
        </dl>
      </li>
      <li class="ProfileList__item Profile">
        <div class="Profile__columnSub">
          <div class="Profile__photo"></div>
        </div>
        <dl class="Profile__ColumnMain">
          <dt class="Profile__name">加藤友理</dt>
          <dd class="Profile__title">
            <p class="Profile__profession">PRプランナー</p>
          </dd>
          <dd>大手広告制作会社でPR業務に従事。食品・飲料、化粧品や家電など幅広いクライアントを担当し、PR戦略立案やSNS起点のプロモーションを企画・実施。小杉湯好きが高じて「銭湯ぐらし」HPの記事執筆を担当。交互浴で整いながら、人間観察をするのが好き。</dd>
        </dl>
      </li>
      <li class="ProfileList__item Profile">
        <div class="Profile__columnSub">
          <div class="Profile__photo"></div>
        </div>
        <dl class="Profile__ColumnMain">
          <dt class="Profile__name">安藤菜々子</dt>
          <dd class="Profile__title">
            <p class="Profile__profession">経営企画</p>
          </dd>
          <dd>2015年よりリクルートキャリアにて新卒採用・経営企画に従事。大分に住む祖父母により、毎日温泉三昧という英才教育を受けて育つ。初めて一人暮らしをした清澄白河にて銭湯の魅力を知り、会社のロッカーにお風呂セットを常備するように。好きな言葉は「湯の元の平等」。</dd>
        </dl>
      </li>
    </ul>
    <div class="Footer">
      <p>© 2018 銭湯ぐらし</p>
    </div>
  </div><!-- /.Container -->
  <!-- GA -->
  <script>
    (function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-100837084-1', 'auto');
    ga('send', 'pageview');
  </script>
  <!-- /GA -->
</body>

</html>