<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>銭湯ぐらし</title>
  <meta name="description" content="TODO">
  <meta property="fb:app_id" content="306929856428469" />
  <meta property="og:title" content="銭湯ぐらし" />
  <meta property="og:url" content="http://www.sentogurashi.com/" />
  <meta property="og:description" content="TODO" />
  <meta property="og:image" content="http://www.sentogurashi.com/assets/images/share/top.jpg" />
  <meta property="og:image:width" content="1280" />
  <meta property="og:image:height" content="853" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@sentogurashi">
  <meta name="twitter:title" content="銭湯ぐらし">
  <meta name="twitter:description" content="TODO">
  <meta name="twitter:image:src" content="http://www.sentogurashi.com/assets/images/share/top.jpg">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta name="google-site-verification" content="oIhGG07K5eP0_scMyqal6daNoObMOdQOYAVcmCK0ays" />
  <meta property="og:type" content="website" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/hannari.css">
  <link rel="stylesheet" href="/dest/styles/main.css">
  <script src="/dest/scripts/common.bundle.js"></script>
  <script src="/dest/scripts/top.bundle.js"></script>
</head>

<body>
  <div class="Container">
    <header class="Header js-Header">
      <div class="Header__columnMain">
        <a class="Header__logo" href="/">
          <h1>銭湯ぐらし</h1>
        </a>
      </div>
      <div class="Header__columnSub">
        <nav class="GrobalNavigationPc">
          <ul class="GrobalNavigationPc__list">
            <li class="GrobalNavigationPc__item">
              <a href="/about">銭湯ぐらしとは</a>
            </li>
            <li class="GrobalNavigationPc__item">
              <a href="\#project">私たちにできること</a>
            </li>
            <li class="GrobalNavigationPc__item">
              <a href="/member">銭湯ぐらしの人々</a>
            </li>
            <li class="GrobalNavigationPc__item">
              <a href="/history">創業までのおはなし</a>
            </li>
          </ul>
        </nav>
        <ul class="SocialLinks SocialLinks--pc">
          <li class="SocialLinks__item SocialLinks__item--twitter"><a href="https://twitter.com/sentogurashi" target="_blank">twitter</a></li>
          <li class="SocialLinks__item SocialLinks__item--facebook"><a href="https://www.facebook.com/sentogurashi" target="_blank">facebook</a></li>
        </ul>
        <div class="GrobalNavigationSp__trigger js-GrobalNavigationSp__trigger"></div>
      </div>
    </header>
    <nav class="GrobalNavigationSp js-GrobalNavigationSp">
      <ul class="GrobalNavigationSp__list">
        <li class="GrobalNavigationSp__item">
          <a href="/about">銭湯ぐらしとは</a>
        </li>
        <li class="GrobalNavigationSp__item">
          <a href="\#project">私たちにできること</a>
        </li>
        <li class="GrobalNavigationSp__item">
          <a href="/member">銭湯ぐらしの人々</a>
        </li>
        <li class="GrobalNavigationSp__item">
          <a href="/history">創業までのおはなし</a>
        </li>
      </ul>
    </nav>
    <div class="TopHero">
      <div class="TopHero__main">
        <div class="TopHero__vi">
          <div class="TopHero__viLogo"></div>
          <div class="TopHero__viText"></div>
        </div>
        <nav class="TopHero__navigation">
          <ul class="TopHero__navigationList">
            <li class="TopHero__navationItem">
              <a href="/about">銭湯ぐらしとは</a>
            </li>
            <li class="TopHero__navationItem">
              <a href="\#project">私たちにできること</a>
            </li>
            <li class="TopHero__navationItem">
              <a href="/member">銭湯ぐらしの人々</a>
            </li>
            <li class="TopHero__navationItem">
              <a href="/history">創業までのおはなし</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="TopHero__cover js-TopHero__cover">
        <div class="TopHero__image js-TopHero__image"></div>
      </div>
      <div>
        <!-- /.TopHero -->
        <section class="Module">
          <article class="Article Article--withColumn">
            <div class="Article__headingContainer">
              <h1 class="Heading Heading--level1 Heading--vertical Module__heading Article__heading">日々のくらしに<br>余白をつくる</h1>
            </div>
            <!-- /.Article__heading -->
            <div class="Article__body">
              <div class="Text">
                <p class="Text__paragraph"><span class="Text__line">大きな湯船につかり、ゆっくり息を吐き、こころもからだもほぐれていく</span><span class="Text__line">どこか優しい気持ちになり、みんなが心地よさを共有できる</span><span class="Text__line">銭湯は、服を脱ぐように、こころも裸になれる場所です</span></p>
                <p class="Text__paragraph"><span class="Text__line">ある人にとっては、忙しい日々から離れ、頭をリセットする時間</span><span class="Text__line">ある人にとっては、週末のちょっとした楽しみ</span><span class="Text__line">銭湯はくらしに「余白」を生み出してくれます</span></p>
                <p class="Text__paragraph"><span class="Text__line">私たちは、銭湯で得られるような豊かな「余白」を</span><span class="Text__line">くらしの中につくっていくことを目指します</span></p>
              </div>
            </div>
            <!-- /.Article__body -->
          </article>
          <!-- /.Article -->
        </section>
        <!-- /.Module -->
        <section class="Module js-headerShowLine">
          <h1 class="Heading Heading--level1 Heading--horizontal Module__heading">私たちにできること</h1>
          <div class="Module__gridListContainer">
            <ul class="GridList GridList--large">
              <li class="GridList__item">
                <a class="Cell" href="/project/facility_produce">
                  <div class="Cell__thumbnail"></div>
                  <p class="Cell__title">銭湯のあるくらしづくり</p>
                </a>
              </li>
              <li class="GridList__item">
                <a class="Cell" href="/project/enterprise_collaboration">
                  <div class="Cell__thumbnail"></div>
                  <p class="Cell__title">企業コラボーレション</p>
                </a>
              </li>
              <li class="GridList__item">
                <a class="Cell" href="/project/branding_design">
                  <div class="Cell__thumbnail"></div>
                  <p class="Cell__title">ブランドデザイン</p>
                </a>
              </li>
              <li class="GridList__item">
                <a class="Cell" href="/project/area_produce">
                  <div class="Cell__thumbnail"></div>
                  <p class="Cell__title">地域プロデュース</p>
                </a>
              </li>
              <li class="GridList__item">
                <a class="Cell" href="/project/event">
                  <div class="Cell__thumbnail"></div>
                  <p class="Cell__title">イベント・制作</p>
                </a>
              </li>
              <li class="GridList__item">
                <a class="Cell" href="/project/space_design">
                  <div class="Cell__thumbnail"></div>
                  <p class="Cell__title">空間デザイン</p>
                </a>
              </li>
            </ul>
          </div>
          <!-- /.Module__gridListContaier -->
        </section>
        <!-- /.Module -->
        <section class="Module">
          <h1 class="Heading Heading--level1 Heading--horizontal Module__heading">銭湯ぐらしの人々</h1>
          <div class="Module__gridListContainer">
            <ul class="GridList GridList--small">
              <li class="GridList__item">
                <a class="Profile Profile--vertical" href="/member/#yuichi_kato">
                  <div class="Profile__photo"></div>
                  <p class="Profile__name">加藤 優一</p>
                  <div class="Profile__title">
                    <p class="Profile__position">代表取締役</p>
                    <p class="Profile__profession">建築家</p>
                  </div>
                </a>
              </li>
              <li class="GridList__item">
                <a class="Profile Profile--vertical" href="/member/#naoki_ito">
                  <div class="Profile__photo"></div>
                  <p class="Profile__name">伊藤 直樹</p>
                  <div class="Profile__title">
                    <p class="Profile__position">取締役</p>
                    <p class="Profile__profession">マーケター</p>
                  </div>
                </a>
              </li>
              <li class="GridList__item">
                <a class="Profile Profile--vertical" href="/member/#sakie_miya">
                  <div class="Profile__photo"></div>
                  <p class="Profile__name">宮 早希枝</p>
                  <div class="Profile__title">
                    <p class="Profile__position">取締役</p>
                    <p class="Profile__profession">プロデューサー</p>
                  </div>
                </a>
              </li>
              <li class="GridList__item">
                <a class="Profile Profile--vertical" href="/member/#mao_sugaya">
                  <div class="Profile__photo"></div>
                  <p class="Profile__name">菅谷 真央</p>
                  <div class="Profile__title">
                    <p class="Profile__position">取締役</p>
                    <p class="Profile__profession">デザイナー</p>
                  </div>
                </a>
              </li>
              <li class="GridList__item">
                <a class="Profile Profile--vertical" href="/member/#yusuke_emoto">
                  <div class="Profile__photo"></div>
                  <p class="Profile__name">江本 祐介</p>
                  <div class="Profile__title">
                    <p class="Profile__profession">ミュージシャン</p>
                  </div>
                </a>
              </li>
              <li class="GridList__item">
                <a class="Profile Profile--vertical" href="/member/#honami_enya">
                  <div class="Profile__photo"></div>
                  <p class="Profile__name">塩谷 歩波</p>
                  <div class="Profile__title">
                    <p class="Profile__profession">イラストレーター</p>
                  </div>
                </a>
              </li>
              <li class="GridList__item">
                <a class="Profile Profile--vertical" href="/member/#kenji_daikoku">
                  <div class="Profile__photo"></div>
                  <p class="Profile__name">大黒 健嗣</p>
                  <div class="Profile__title">
                    <p class="Profile__profession">アートディレクター</p>
                  </div>
                </a>
              </li>
              <li class="GridList__item">
                <a class="Profile Profile--vertical" href="/member/#miho_otsuki">
                  <div class="Profile__photo"></div>
                  <p class="Profile__name">大月 美帆</p>
                  <div class="Profile__title">
                    <p class="Profile__profession">銭湯番台</p>
                  </div>
                </a>
              </li>
            </ul>
          </div>
          <!-- /.Module__gridListContaier -->
          <a class="Button Module__button" href="/member/">もっと見る</a>
        </section>
        <!-- /.Module -->
        <section class="Module">
          <article class="Article Article--horizontal">
            <div class="Article__headingContainer">
              <h1 class="Heading Heading--level1 Heading--horizontal Module__heading Article__heading">創業までのおはなし</h1>
            </div>
            <!-- /.Article__heading -->
            <div class="Article__body">
              <div class="Text Module__text">
                <p class="Text__paragraph">「株式会社 銭湯ぐらし」は、2017年3月から2018年2月に実施されたプロジェクト「銭湯ぐらし」から生まれました。</p>
                <p class="Text__paragraph">「銭湯ぐらし」は、東京都杉並区の銭湯「小杉湯」の隣、解体を控えた風呂なしアパートで多様なクリエイターが共にくらし、それぞれの専門分野と銭湯を掛け合せた活動を展開したプロジェクト。1年間のさまざまな実験的取り組みを通し、銭湯を活用した事業や、銭湯が日常にあるくらしの可能性を見いだしてきました。</p>
              </div>
            </div>
            <!-- /.Article__body -->
          </article>
          <!-- /.Article -->
          <a class="Button Module__button" href="/history/">さらに詳しく</a>
        </section>
        <!-- /.Module -->
        <div class="Footer">
          <p class="Footer__text">© 2018 銭湯ぐらし</p>
        </div>
      </div><!-- /.Container -->
      <!-- GA -->
      <script>
        (function(i, s, o, g, r, a, m) {
          i['GoogleAnalyticsObject'] = r;
          i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
          }, i[r].l = 1 * new Date();
          a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
          a.async = 1;
          a.src = g;
          m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-100837084-1', 'auto');
        ga('send', 'pageview');
      </script>
      <!-- /GA -->
</body>

</html>