<% 
const {
  content = {},
  heroImagePath = '',
} = setting;
%>
<div class="HeroImage js-Parallax">
  <div class="HeroImage__inner js-Parallax__inner">
    <div class="HeroImage__image" style="background-image:url('/dest/images/<%= heroImagePath %>/hero.jpg')"></div>
  </div>
</div>
<section class="Module Module--top">
  <article class="Article Article--withColumn">
    <div class="Article__headingContainer">
      <%- include('../_component/_heading', {
        setting: {
          text: content.heading,
          isVertical: true,
          classNames: ['Module__heading Article__heading'],
        }
      }) %>
    </div>
    <!-- /.Article__headingContainer -->
    <div class="Article__body">
      <%- include('../_component/_text', {
        setting: {
          text: content.text,
        }
      }) %>
    </div>
    <!-- /.Article__body -->
  </article>
</section>