<% 
const {
  text = '',
  classNames = [],
} = setting;
const classNameArray = ['Text', ...classNames];
const textElement = text.split('\n\n').map(line => 
`<p class="Text__paragraph">${line.replace(/\n/g, '<br>')}</p>`).join('');
%>
<div class="<%= classNameArray.join(' '); %>">
<%- textElement %>
</div>