<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>銭湯ぐらしとは - 銭湯ぐらし</title>
  <meta name="description" content="たくさんの情報や人々が行き交う現代では、物理的にも精神的にも「余白」が少なくなっています。　銭湯は、そんな私たちに「余白」の大切さを気づかせてくれます。　　例えば、「余白のある時間」　銭湯は、時間に追われがちな都市の生活の中に、心身を整えたり、自分と向き合ったりできる、丁寧な時間をつくってくれます。そうして生まれた時間は、新たな発想のきっかけにもなります。　　例えば、「余白のある場所」　銭湯は、世代や趣味の異なる人がフラットに集う、公共の場。言葉を交わさなくても、みんなで心地よさを共有することができます。また、入浴以外にもコミュニティや健康づくりなどさまざまな活用の可能性があります。　　このように、日常に「余白」があることは、くらしの中に豊かさを生み出してくれます。　　一方で、近い将来、技術の発展に伴い、時間の使い方を見直す必要があったり、人口減少により使われない空間が増えたり、「余白」に関するさまざまな可能性や課題が現れてきます。　　必要な余白をいかにつくるか？　生まれた余白をいかに使うか？　私たちは、日常に余白を与えてくれる銭湯の価値観に学び、　新しい余白のつくり方・使い方を考えていきます。">
  <meta property="fb:app_id" content="306929856428469" />
  <meta property="og:title" content="銭湯ぐらしとは - 銭湯ぐらし" />
  <meta property="og:url" content="http://www.sentogurashi.com/about/" />
  <meta property="og:description" content="たくさんの情報や人々が行き交う現代では、物理的にも精神的にも「余白」が少なくなっています。　銭湯は、そんな私たちに「余白」の大切さを気づかせてくれます。　　例えば、「余白のある時間」　銭湯は、時間に追われがちな都市の生活の中に、心身を整えたり、自分と向き合ったりできる、丁寧な時間をつくってくれます。そうして生まれた時間は、新たな発想のきっかけにもなります。　　例えば、「余白のある場所」　銭湯は、世代や趣味の異なる人がフラットに集う、公共の場。言葉を交わさなくても、みんなで心地よさを共有することができます。また、入浴以外にもコミュニティや健康づくりなどさまざまな活用の可能性があります。　　このように、日常に「余白」があることは、くらしの中に豊かさを生み出してくれます。　　一方で、近い将来、技術の発展に伴い、時間の使い方を見直す必要があったり、人口減少により使われない空間が増えたり、「余白」に関するさまざまな可能性や課題が現れてきます。　　必要な余白をいかにつくるか？　生まれた余白をいかに使うか？　私たちは、日常に余白を与えてくれる銭湯の価値観に学び、　新しい余白のつくり方・使い方を考えていきます。" />
  <meta property="og:image" content="http://www.sentogurashi.com/assets/images/about/hero.jpg" />
  <meta property="og:image:width" content="1280" />
  <meta property="og:image:height" content="853" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@sentogurashi">
  <meta name="twitter:title" content="銭湯ぐらしとは - 銭湯ぐらし">
  <meta name="twitter:description" content="たくさんの情報や人々が行き交う現代では、物理的にも精神的にも「余白」が少なくなっています。　銭湯は、そんな私たちに「余白」の大切さを気づかせてくれます。　　例えば、「余白のある時間」　銭湯は、時間に追われがちな都市の生活の中に、心身を整えたり、自分と向き合ったりできる、丁寧な時間をつくってくれます。そうして生まれた時間は、新たな発想のきっかけにもなります。　　例えば、「余白のある場所」　銭湯は、世代や趣味の異なる人がフラットに集う、公共の場。言葉を交わさなくても、みんなで心地よさを共有することができます。また、入浴以外にもコミュニティや健康づくりなどさまざまな活用の可能性があります。　　このように、日常に「余白」があることは、くらしの中に豊かさを生み出してくれます。　　一方で、近い将来、技術の発展に伴い、時間の使い方を見直す必要があったり、人口減少により使われない空間が増えたり、「余白」に関するさまざまな可能性や課題が現れてきます。　　必要な余白をいかにつくるか？　生まれた余白をいかに使うか？　私たちは、日常に余白を与えてくれる銭湯の価値観に学び、　新しい余白のつくり方・使い方を考えていきます。">
  <meta name="twitter:image:src" content="http://www.sentogurashi.com/assets/images/about/hero.jpg">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta property="og:type" content="article" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/hannari.css">
  <link rel="stylesheet" href="/dest/styles/main.css">
  <script src="/dest/scripts/common.bundle.js"></script>
</head>

<body>
  <div class="LoadingView js-LoadingView"></div>
  <div class="Container Container--withOffset">
    <header class="Header js-Header">
      <div class="Header__columnMain">
        <a class="Header__logo" href="/">
          <h1>銭湯ぐらし</h1>
        </a>
      </div>
      <div class="Header__columnSub">
        <nav class="GrobalNavigationPc">
          <ul class="GrobalNavigationPc__list">
            <li class="GrobalNavigationPc__item">
              <a href="/about">銭湯ぐらしとは</a>
            </li>
            <li class="GrobalNavigationPc__item">
              <a href="/#project">私たちにできること</a>
            </li>
            <li class="GrobalNavigationPc__item">
              <a href="/member">銭湯ぐらしの人々</a>
            </li>
            <li class="GrobalNavigationPc__item">
              <a href="/history">創業までのおはなし</a>
            </li>
          </ul>
        </nav>
        <ul class="SocialLinks SocialLinks--pc">
          <li class="SocialLinks__item SocialLinks__item--twitter"><a href="https://twitter.com/sentogurashi" target="_blank">twitter</a></li>
          <li class="SocialLinks__item SocialLinks__item--facebook"><a href="https://www.facebook.com/sentogurashi" target="_blank">facebook</a></li>
        </ul>
        <div class="GrobalNavigationSp__trigger js-GrobalNavigationSp__trigger"></div>
      </div>
    </header>
    <nav class="GrobalNavigationSp js-GrobalNavigationSp">
      <ul class="GrobalNavigationSp__list">
        <li class="GrobalNavigationSp__item">
          <a href="/about">銭湯ぐらしとは</a>
        </li>
        <li class="GrobalNavigationSp__item">
          <a href="/#project">私たちにできること</a>
        </li>
        <li class="GrobalNavigationSp__item">
          <a href="/member">銭湯ぐらしの人々</a>
        </li>
        <li class="GrobalNavigationSp__item">
          <a href="/history">創業までのおはなし</a>
        </li>
      </ul>
    </nav>
    <div class="HeroImage js-Parallax">
      <div class="HeroImage__inner js-Parallax__inner">
        <div class="HeroImage__image" style="background-image:url('/dest/images/about/hero.jpg')"></div>
      </div>
    </div>
    <section class="Module Module--top">
      <article class="Article Article--withColumn">
        <div class="Article__headingContainer">
          <h1 class="Heading Heading--level1 Heading--vertical Module__heading Article__heading">銭湯ぐらしとは</h1>
        </div>
        <!-- /.Article__headingContainer -->
        <div class="Article__body">
          <div class="Article__subsection">
            <h3 class="Article__headingSub">銭湯ぐらしが目指すもの</h3>
            <p class="Article__lead">「日々のくらしに、余白をつくる」</p>
            <div class="Text">
              <p class="Text__paragraph">たくさんの情報や人々が行き交う現代では、物理的にも精神的にも「余白」が少なくなっています。<br>銭湯は、そんな私たちに「余白」の大切さを気づかせてくれます。</p>
              <p class="Text__paragraph">例えば、「余白のある時間」<br>銭湯は、時間に追われがちな都市の生活の中に、心身を整えたり、自分と向き合ったりできる、丁寧な時間をつくってくれます。そうして生まれた時間は、新たな発想のきっかけにもなります。</p>
              <p class="Text__paragraph">例えば、「余白のある場所」<br>銭湯は、世代や趣味の異なる人がフラットに集う、公共の場。言葉を交わさなくても、みんなで心地よさを共有することができます。また、入浴以外にもコミュニティや健康づくりなどさまざまな活用の可能性があります。</p>
              <p class="Text__paragraph">このように、日常に「余白」があることは、くらしの中に豊かさを生み出してくれます。</p>
              <p class="Text__paragraph">一方で、近い将来、技術の発展に伴い、時間の使い方を見直す必要があったり、人口減少により使われない空間が増えたり、「余白」に関するさまざまな可能性や課題が現れてきます。</p>
              <p class="Text__paragraph">必要な余白をいかにつくるか？　生まれた余白をいかに使うか？<br>私たちは、日常に余白を与えてくれる銭湯の価値観に学び、<br>新しい余白のつくり方・使い方を考えていきます。</p>
            </div>
          </div>
          <div class="Article__subsection">
            <h3 class="Article__headingSub">会社概要</h3>
            <dl class="DescriptionList">
              <dt>会社名</dt>
              <dd>
                株式会社 銭湯ぐらし
              </dd>
            </dl>
            <dl class="DescriptionList">
              <dt>代表取締役</dt>
              <dd>
                加藤 優一
              </dd>
            </dl>
            <dl class="DescriptionList">
              <dt>取締役</dt>
              <dd>
                伊藤 直樹、菅谷 真央、宮 早希枝
              </dd>
            </dl>
            <dl class="DescriptionList">
              <dt>設立</dt>
              <dd>
                2018年10月10日
              </dd>
            </dl>
            <dl class="DescriptionList">
              <dt>資本金</dt>
              <dd>
                1010,000円
              </dd>
            </dl>
            <dl class="DescriptionList">
              <dt>事業内容</dt>
              <dd>
                <ul class="DescriptionList__subList">
                  <li class="DescriptionList__subListItem">銭湯を活かした場づくり</li>
                  <li class="DescriptionList__subListItem">企業コラボレーション</li>
                  <li class="DescriptionList__subListItem">ブランドデザイン</li>
                  <li class="DescriptionList__subListItem">お風呂と旅のプロデュース</li>
                  <li class="DescriptionList__subListItem">銭湯におけるイベントの実施</li>
                  <li class="DescriptionList__subListItem">余白を使った空間デザインなど</li>
                </ul>
              </dd>
            </dl>
            <dl class="DescriptionList">
              <dt>お問い合わせ</dt>
              <dd>
                <span class="js-contact"></span>
              </dd>
            </dl>
          </div>
        </div>
        <!-- /.Article__body -->
      </article>
    </section>
    <div class="Footer">
      <p class="Footer__text">© 2018 Sentogurashi,inc</p>
    </div>
  </div><!-- /.Container -->
  <!-- GA -->
  <script>
    (function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-100837084-1', 'auto');
    ga('send', 'pageview');
  </script>
  <!-- /GA -->
</body>

</html>