.Article {
  &--withColumn {
    display: flex;
    justify-content: center;

    @include isScreen('sm') {
      display: block;
    }

    .Article__headingContainer {
      display: flex;
      justify-content: center;
      width: 180px;
      margin-right: $spacing-XXLarge;

      @include isScreen('sm') {
        width: 100%;
        margin-right: 0;
        margin-bottom: $spacing-XLarge;
      }
    }
  }
}
