.Article {
  &--withColumn {
    display: flex;
    justify-content: center;

    @include isScreen('sm') {
      display: block;
    }

    .Article__headingContainer {
      display: flex;
      justify-content: center;
      width: 180px;
      margin-right: $spacing-XXLarge;

      @include isScreen('sm') {
        width: auto;
        margin-right: auto;
        margin-left: auto;
      }
    }

    .Article__body {
      @include isScreen('sm') {
        margin-top: $spacing-XXXLarge;
      }
    }
  }

  &__image {
    max-width: $width-narrow-content;
    margin: $spacing-XLarge auto;

    &Inner {
      width: 100%;
      padding-bottom: 100% * (817 / 1600);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

  &__subsection {
    margin-bottom: $spacing-big-small;
  }

  &__headingSub {
    margin-bottom: $spacing-XLarge;
    color: $color-text-base;
    font-size: 3rem;
    letter-spacing: $letter-spacing-wide;

    @include isScreen('sm') {
      font-size: 2.2rem;
    }
  }

  &__lead {
    margin-top: -($spacing-middle);
    margin-bottom: $spacing-XLarge;
    color: $color-text-base;
    font-size: $font-size-middle-normal-screen;
    letter-spacing: $letter-spacing-wide;

    @include isScreen('sm') {
      font-size: 1.6rem;
    }
  }
}
