.Button {
  @include baseFontDisplay;

  display: block;
  padding: $spacing-middle 0;
  font-size: $font-size-middle-normal-screen;
  text-align: center;
  background-color: $color-button-background;
  box-shadow: $box-shadow-base;
  transition: $transition-hover;

  &--fontSize {
    &Small {
      font-size: $font-size-base-normal-screen;

      // @include isScreen('sm') {
      //   font-size: $font-size-base-small-screen;
      // }
    }
  }

  &:hover {
    box-shadow: $box-shadow-spread;
    transform: translate(0, -2px);
  }
}
