.Cell {
  display: block;

  &__thumbnail {
    @include imageHolder;

    padding-bottom: $size-normal-thumbnail;
  }

  &__title {
    @include baseFontDisplay;

    position: relative;
    margin: $spacing-normal 0;
    padding-right: $spacing-large;
    font-size: $font-size-large-normal-screen;

    @include isScreen('sm') {
      font-size: $font-size-large-small-screen;
    }

    &::after {
      position: absolute;
      top: 50%;
      right: 0;
      display: block;
      width: 7px;
      height: 13px;
      transform: translateY(-50%);
      content: '';

      @include vectorImage('common/ico_arrow_next');
    }
  }

  &__caption {
    @include baseFontWeak;

    margin: $spacing-normal 0;
    font-size: $font-size-XSmall-normal-screen;
    line-height: $line-height-base;
  }
}

a.Cell {
  @include hoverEffect;
}
