.GrobalNavigation {
  &Pc {
    &__list {
      display: flex;
    }

    &__item {
      margin-right: $spacing-XLarge;

      & > a {
        @include baseLink;

        font-family: $font-family-display;
        letter-spacing: $letter-spacing-wide;
      }
    }

    @include isScreen('sm') {
      display: none;
    }
  }

  &Sp {
    display: none;
  }
}
