$logo-pc-size: 60px;
$logo-sp-size: 40px;

.Header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $layer-header;
  width: 100%;
  padding: $spacing-normal $spacing-large;
  background-color: $color-header-background;
  box-shadow: $box-shadow-header;
  visibility: hidden;
  opacity: 0;
  transition: $transition-show;

  &.is-show {
    visibility: visible;
    opacity: 1;
  }

  @include isScreen('sm') {
    padding: $spacing-normal $spacing-large;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include isScreen('sm') {
      // position: relative;
      height: $logo-sp-size;
    }
  }

  &__logo {
    display: block;
    width: $logo-pc-size;
    height: $logo-pc-size;

    @include vectorImage('common/vi_logo');

    @include isScreen('sm') {
      position: absolute;
      top: $spacing-normal;
      left: $spacing-large;
      width: $logo-sp-size;
      height: $logo-sp-size;
    }
  }

  &__column {
    &Main {
      flex-shrink: 0;
      margin-right: $spacing-XLarge;
    }

    &Sub {
      display: flex;
    }
  }

  &__underlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: $layer-underlay;
    display: none;
    width: 100%;
    height: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    &.is-show {
      display: block;
    }
  }
}
