.Header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $layer-header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: $spacing-normal $spacing-large;
  background-color: $color-header-background;
  box-shadow: $box-shadow-header;
  visibility: hidden;
  opacity: 0;
  transition: $transition-show;

  &.is-show {
    visibility: visible;
    opacity: 1;
  }

  @include isScreen('sm') {
    padding: $spacing-normal;
  }

  &__logo {
    display: block;
    width: 60px;
    height: 60px;

    @include vectorImage('common/vi_logo');

    @include isScreen('sm') {
      width: 40px;
      height: 40px;
    }
  }

  &__column {
    &Sub {
      display: flex;
    }
  }
}
