.Heading {
  @include baseHeading;

  &--horizontal {
    @include isScreen('sm') {
      br {
        display: none;
      }
    }

    margin-bottom: $spacing-XXXLarge;
    text-align: center;
  }

  &--vertical {
    @include verticalWriting;

    @include isScreen('sm') {
      margin: 0 auto;
    }
  }
}
