.HeroImage {
  height: 70vh;
  overflow: hidden;

  @include isScreen('sm') {
    height: 50vh;
  }

  &__inner {
    width: 100%;
    height: 100%;
  }

  &__image {
    @include imageHolder;

    width: 100%;
    height: 100%;
  }
}
