.Module {
  margin-bottom: $spacing-big-middle;

  @include isScreen('sm') {
    margin-bottom: $spacing-big-small;
  }

  &--top {
    margin-top: $spacing-big-middle;

    @include isScreen('sm') {
      margin-top: $spacing-big-small;
    }
  }

  &__gridListContainer {
    width: $width-responsive-wrapper;
    max-width: $width-max-responsive-wrapper;
    margin: 0 auto;
  }

  &__text {
    margin: 0 auto;
  }

  &__button {
    width: 300px;
    margin: $spacing-big-normal auto;
  }

  &__horizontalList {
    margin: $spacing-XXLarge 0;
    text-align: center;

    &Item {
      @include baseFontWeak;

      display: inline-block;
      margin-right: $spacing-small; // スキマ分
      line-height: $line-height-thick;

      &::after {
        content: '/';
        display: inline-block;
        margin-left: $spacing-normal;
      }

      &:last-child {
        &::after {
          display: none;
          margin-right: 0;
        }
      }
    }
  }

  @include isScreen('sm') {
    margin-right: $spacing-large;
    margin-left: $spacing-large;

    .Module__gridListContainer {
      width: auto;
    }
  }
}
