.Module {
  margin-bottom: 100px;

  &__gridListContainer {
    width: $width-responsive-wrapper;
    margin: 0 auto;
  }

  &__text {
    margin: 0 auto;
  }

  &__button {
    width: 300px;
    margin: $spacing-XXXLarge auto;
  }

  @include isScreen('sm') {
    margin-right: $spacing-large;
    margin-left: $spacing-large;

    .Module__gridListContainer {
      width: auto;
    }
  }
}
