.Profile {
  display: block;

  &--vertical {
    display: flex;
    flex-direction: column;
    align-items: center;

    .Profile__name {
      margin: $spacing-normal 0;
    }

    .Profile__photo {
      @include isScreen('sm') {
        width: 120px;
        height: 120px;
      }
    }
  }

  &--horizontal {
    display: flex;
    justify-content: center;
    margin-bottom: $spacing-big-normal;

    .Profile__name,
    .Profile__title {
      margin-bottom: $spacing-normal;
    }

    @include isScreen('sm') {
      flex-direction: column;
      align-items: center;
      margin-bottom: $spacing-XXXLarge;
    }
  }

  &__column {
    &Sub {
      margin-right: $spacing-XXXLarge;

      @include isScreen('sm') {
        margin-right: 0;
        margin-bottom: $spacing-large;
      }
    }
  }

  &__photo {
    @include imageHolder;

    width: 160px;
    height: 160px;
    border-radius: 50%;

    @include isScreen('lg') {
      width: 140px;
      height: 140px;
    }
  }

  &__name {
    @include baseFontDisplay;

    font-size: $font-size-middle-normal-screen;

    @include isScreen('sm') {
      text-align: center;
    }
  }

  &__title {
    @include baseFontWeak;

    display: flex;
    font-size: $font-size-small-normal-screen;

    @include isScreen('sm') {
      justify-content: center;
    }
  }

  &__position {
    margin-right: $spacing-normal;

    &::after {
      display: inline-block;
      margin-left: $spacing-normal;
      content: '/';
    }
  }

  &__text {
    @include baseText;

    max-width: $width-narrow-content;
    font-size: $font-size-small-normal-screen;
    line-height: $line-height-thick;
  }
}

a.Profile {
  @include hoverEffect;
}
