.Text {
  @include baseText;

  max-width: $width-narrow-content;

  &__paragraph {
    margin-bottom: 1em;
    line-height: $line-height-wide;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__line {
    display: inline-block;

    @include isScreen('sm') {
      display: inline;

      &::after {
        content: '　';
      }
    }
  }
}
