.TopHero {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-height: 900px;
  overflow: hidden;

  @include isScreen('sm') {
    display: block;
    max-height: auto;
  }

  &__main {
    &Content {
      position: absolute;
      top: 50%;
      left: 10%;
      transform: translateY(-50%);

      @include isScreen('sm') {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
      }
    }
  }

  &__vi {
    display: flex;
    align-items: flex-end;

    @include isScreen('sm') {
      justify-content: center;
      margin-top: $spacing-XXXLarge;
    }

    &Logo {
      @include vectorImage('common/vi_logo');

      width: $spacing-big-normal;
      height: $spacing-big-normal;
      margin-right: $spacing-large;
    }

    &Type {
      @include vectorImage('common/vi_type');

      width: 155px;
      height: 40px;
    }
  }

  &__navigation {
    position: relative;
    height: 220px;
    margin-top: 60px;

    @include isScreen('sm') {
      margin-bottom: 40px;
    }

    &List {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      width: 150px;
      height: 220px;

      @include isScreen('sm') {
        position: static;
        margin-right: auto;
        margin-left: auto;
      }
    }

    &Item {
      @include verticalWriting;
      @include baseFontDisplay;

      font-size: $font-size-middle-normal-screen;

      & > a {
        color: $color-text-base;
      }
    }
  }

  &__cover {
    width: 58.59vw;
    padding-bottom: $height-tophero-cover;
    background-color: $color-pale-gray;

    @include isScreen('sm') {
      width: 100%;
    }
  }
}
