<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>銭湯を活かした場づくり - 銭湯ぐらし</title>
  <meta name="description" content="仕事の合間に銭湯に入れるワークスペースや、銭湯をお風呂として使えるアパート・ホテルなど、「銭湯のあるくらし」を体験できる場所をつくります。　私たちが最初に企画・運営する場所は「（仮称）小杉湯／となり」（2019年10月完成予定）。東京都杉並区の銭湯「小杉湯」の隣に、銭湯と一緒に利用できる複合施設（カフェ・ワークスペース・レンタルスペース等）を計画中です。銭湯が「街に開かれたお風呂」であるように、本来は家の中に閉じた機能を街に開くことで、「くらしの一部を共有する」豊かさを提案します。　">
  <meta property="fb:app_id" content="306929856428469" />
  <meta property="og:title" content="銭湯を活かした場づくり - 銭湯ぐらし" />
  <meta property="og:url" content="http://www.sentogurashi.com/project/facility_produce/" />
  <meta property="og:description" content="仕事の合間に銭湯に入れるワークスペースや、銭湯をお風呂として使えるアパート・ホテルなど、「銭湯のあるくらし」を体験できる場所をつくります。　私たちが最初に企画・運営する場所は「（仮称）小杉湯／となり」（2019年10月完成予定）。東京都杉並区の銭湯「小杉湯」の隣に、銭湯と一緒に利用できる複合施設（カフェ・ワークスペース・レンタルスペース等）を計画中です。銭湯が「街に開かれたお風呂」であるように、本来は家の中に閉じた機能を街に開くことで、「くらしの一部を共有する」豊かさを提案します。　" />
  <meta property="og:image" content="http://www.sentogurashi.com/assets/images/project/facility_produce/hero.jpg" />
  <meta property="og:image:width" content="1280" />
  <meta property="og:image:height" content="853" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@sentogurashi">
  <meta name="twitter:title" content="銭湯を活かした場づくり - 銭湯ぐらし">
  <meta name="twitter:description" content="仕事の合間に銭湯に入れるワークスペースや、銭湯をお風呂として使えるアパート・ホテルなど、「銭湯のあるくらし」を体験できる場所をつくります。　私たちが最初に企画・運営する場所は「（仮称）小杉湯／となり」（2019年10月完成予定）。東京都杉並区の銭湯「小杉湯」の隣に、銭湯と一緒に利用できる複合施設（カフェ・ワークスペース・レンタルスペース等）を計画中です。銭湯が「街に開かれたお風呂」であるように、本来は家の中に閉じた機能を街に開くことで、「くらしの一部を共有する」豊かさを提案します。　">
  <meta name="twitter:image:src" content="http://www.sentogurashi.com/assets/images/project/facility_produce/hero.jpg">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta property="og:type" content="article" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/hannari.css">
  <link rel="stylesheet" href="/dest/styles/main.css">
  <script src="/dest/scripts/common.bundle.js"></script>
</head>

<body>
  <div class="LoadingView js-LoadingView"></div>
  <div class="Container Container--withOffset">
    <div class="Header__underlay js-Header__underlay"></div>
    <header class="Header js-Header">
      <nav class="GlobalNavigationSp js-GlobalNavigationSp">
        <div class="GlobalNavigationSp__content">
          <ul class="GlobalNavigationSp__list">
            <li class="GlobalNavigationSp__item">
              <a href="/about">銭湯ぐらしとは</a>
            </li>
            <li class="GlobalNavigationSp__item">
              <a href="/#project">私たちにできること</a>
            </li>
            <li class="GlobalNavigationSp__item">
              <a href="/member">銭湯ぐらしの人々</a>
            </li>
            <li class="GlobalNavigationSp__item">
              <a href="/history">創業までのおはなし</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="Header__inner">
        <div class="Header__columnMain">
          <a class="Header__logo" href="/">
            <h1>銭湯ぐらし</h1>
          </a>
        </div>
        <div class="Header__columnSub">
          <nav class="GlobalNavigationPc">
            <ul class="GlobalNavigationPc__list">
              <li class="GlobalNavigationPc__item">
                <a href="/about">銭湯ぐらしとは</a>
              </li>
              <li class="GlobalNavigationPc__item">
                <a href="/#project">私たちにできること</a>
              </li>
              <li class="GlobalNavigationPc__item">
                <a href="/member">銭湯ぐらしの人々</a>
              </li>
              <li class="GlobalNavigationPc__item">
                <a href="/history">創業までのおはなし</a>
              </li>
            </ul>
          </nav>
          <ul class="SocialLinks SocialLinks--pc">
            <li class="SocialLinks__item SocialLinks__item--twitter"><a href="https://twitter.com/sentogurashi" target="_blank">twitter</a></li>
            <li class="SocialLinks__item SocialLinks__item--facebook"><a href="https://www.facebook.com/sentogurashi" target="_blank">facebook</a></li>
          </ul>
          <ul class="GlobalNavigationSp__trigger js-GlobalNavigationSp__trigger">
            <li class="GlobalNavigationSp__triggerBorder"></li>
            <li class="GlobalNavigationSp__triggerBorder"></li>
            <li class="GlobalNavigationSp__triggerBorder"></li>
          </ul>
        </div>
      </div>
    </header>
    <div class="HeroImage js-Parallax">
      <div class="HeroImage__inner js-Parallax__inner">
        <div class="HeroImage__image" style="background-image:url('/dest/images/project/facility_produce/hero.jpg')"></div>
      </div>
    </div>
    <section class="Module Module--top">
      <article class="Article Article--withColumn">
        <div class="Article__headingContainer">
          <h1 class="Heading Heading--level1 Heading--vertical Module__heading Article__heading">銭湯を活かした<br>場づくり<br></h1>
        </div>
        <!-- /.Article__headingContainer -->
        <div class="Article__body">
          <div class="Text">
            <p class="Text__paragraph">仕事の合間に銭湯に入れるワークスペースや、銭湯をお風呂として使えるアパート・ホテルなど、「銭湯のあるくらし」を体験できる場所をつくります。<br>私たちが最初に企画・運営する場所は「（仮称）小杉湯／となり」（2019年10月完成予定）。東京都杉並区の銭湯「小杉湯」の隣に、銭湯と一緒に利用できる複合施設（カフェ・ワークスペース・レンタルスペース等）を計画中です。銭湯が「街に開かれたお風呂」であるように、本来は家の中に閉じた機能を街に開くことで、「くらしの一部を共有する」豊かさを提案します。<br></p>
          </div>
        </div>
        <!-- /.Article__body -->
      </article>
    </section>
    <section class="Module">
      <h1 class="Heading Heading--level1 Heading--horizontal Module__heading">事業の具体例</h1>
      <ul class="Module__horizontalList">
        <li class="Module__horizontalListItem">銭湯と連携した施設づくり（飲食・宿泊・事務所等）</li>
        <li class="Module__horizontalListItem">銭湯周辺の住まいづくり（風呂なし物件の再生・新築）</li>
        <li class="Module__horizontalListItem">銭湯を基点にしたまちづくり（銭湯の活性、企画・運営）</li>
      </ul>
      <div class="Module__gridListContainer">
        <ul class="GridList GridList--large">
          <li class="GridList__item">
            <div class="Cell">
              <div class="Cell__thumbnail" style="background-image:url('/dest/images/project/facility_produce/example_1.jpg')"></div>
              <p class="Cell__caption">「（仮称）小杉湯／となり」のデザインイメージ。銭湯とセットで自由に利用できる、いわば「銭湯つきサードプレイス」</p>
            </div>
          </li>
          <li class="GridList__item">
            <div class="Cell">
              <div class="Cell__thumbnail" style="background-image:url('/dest/images/project/facility_produce/example_2.jpg')"></div>
              <p class="Cell__caption">銭湯ぐらしの前進のプロジェクト。風呂なしアパートを「銭湯つきアパート」として再生。現在、水回りの整備を最低限を抑えた住宅の新築も検討</p>
            </div>
          </li>
        </ul>
      </div>
      <!-- /.Module__gridListContaier -->
    </section>
    <!-- /.Module -->
    <section class="Module">
      <article class="Article Article--horizontal">
        <div class="Article__headingContainer">
          <h1 class="Heading Heading--level1 Heading--horizontal Module__heading">メッセージ</h1>
        </div>
        <!-- /.Article__heading -->
        <div class="Article__body">
          <div class="Text Module__text">
            <p class="Text__paragraph">銭湯の役割は、公衆衛生だけではなく、コミュニティや娯楽を提供する場へと変わりつつあります。体を洗う場から、精神的な豊かさを生み出す場へ。「銭湯つき〇〇」の組み合わせを通して、「銭湯のあるくらし」の可能性を広げていきます。<br>また、銭湯はシェアハウスほど他者と生活を共有するわけではなく、シェアオフィスほど目的が明確なわけでもない、カフェや公園に近いシェアスペースです。<br>居心地の良い人との距離感や、過ごし方を自由に選べる「選択の余白」がある場所を、都市に増やしていきたいと思います。<br></p>
          </div>
        </div>
        <!-- /.Article__body -->
      </article>
      <!-- /.Article -->
    </section>
    <!-- /.Module -->
    <div class="Footer">
      <p class="Footer__text">© 2019 Sentogurashi,inc</p>
    </div>
  </div><!-- /.Container -->
  <!-- GA -->
  <script>
    (function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-100837084-1', 'auto');
    ga('send', 'pageview');
  </script>
  <!-- /GA -->
</body>

</html>