<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>お風呂と旅のプロデュース - 銭湯ぐらし</title>
  <meta name="description" content="海外の旅人を対象とした、その土地の魅力を生かしたお風呂体験のプロデュースを行います。　”日本の体験文化”として重要な役割を占める「お風呂」。温泉・銭湯などそれぞれ使われ方は異なりますが、特に銭湯は初めてその地を訪れた人にとって、地域の人と出会い、空気感を感じる「体験のコンテンツ」としての可能性を秘めています。その地を訪れた人が集う場所となるような、銭湯の新しい活用方法の提案を行います。　">
  <meta property="fb:app_id" content="306929856428469" />
  <meta property="og:title" content="お風呂と旅のプロデュース - 銭湯ぐらし" />
  <meta property="og:url" content="http://www.sentogurashi.com/project/area_produce/" />
  <meta property="og:description" content="海外の旅人を対象とした、その土地の魅力を生かしたお風呂体験のプロデュースを行います。　”日本の体験文化”として重要な役割を占める「お風呂」。温泉・銭湯などそれぞれ使われ方は異なりますが、特に銭湯は初めてその地を訪れた人にとって、地域の人と出会い、空気感を感じる「体験のコンテンツ」としての可能性を秘めています。その地を訪れた人が集う場所となるような、銭湯の新しい活用方法の提案を行います。　" />
  <meta property="og:image" content="http://www.sentogurashi.com/assets/images/project/area_produce/hero.jpg" />
  <meta property="og:image:width" content="1280" />
  <meta property="og:image:height" content="853" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@sentogurashi">
  <meta name="twitter:title" content="お風呂と旅のプロデュース - 銭湯ぐらし">
  <meta name="twitter:description" content="海外の旅人を対象とした、その土地の魅力を生かしたお風呂体験のプロデュースを行います。　”日本の体験文化”として重要な役割を占める「お風呂」。温泉・銭湯などそれぞれ使われ方は異なりますが、特に銭湯は初めてその地を訪れた人にとって、地域の人と出会い、空気感を感じる「体験のコンテンツ」としての可能性を秘めています。その地を訪れた人が集う場所となるような、銭湯の新しい活用方法の提案を行います。　">
  <meta name="twitter:image:src" content="http://www.sentogurashi.com/assets/images/project/area_produce/hero.jpg">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta property="og:type" content="article" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/hannari.css">
  <link rel="stylesheet" href="/dest/styles/main.css">
  <script src="/dest/scripts/common.bundle.js"></script>
</head>

<body>
  <div class="LoadingView js-LoadingView"></div>
  <div class="Container Container--withOffset">
    <header class="Header js-Header">
      <div class="Header__columnMain">
        <a class="Header__logo" href="/">
          <h1>銭湯ぐらし</h1>
        </a>
      </div>
      <div class="Header__columnSub">
        <nav class="GrobalNavigationPc">
          <ul class="GrobalNavigationPc__list">
            <li class="GrobalNavigationPc__item">
              <a href="/about">銭湯ぐらしとは</a>
            </li>
            <li class="GrobalNavigationPc__item">
              <a href="/#project">私たちにできること</a>
            </li>
            <li class="GrobalNavigationPc__item">
              <a href="/member">銭湯ぐらしの人々</a>
            </li>
            <li class="GrobalNavigationPc__item">
              <a href="/history">創業までのおはなし</a>
            </li>
          </ul>
        </nav>
        <ul class="SocialLinks SocialLinks--pc">
          <li class="SocialLinks__item SocialLinks__item--twitter"><a href="https://twitter.com/sentogurashi" target="_blank">twitter</a></li>
          <li class="SocialLinks__item SocialLinks__item--facebook"><a href="https://www.facebook.com/sentogurashi" target="_blank">facebook</a></li>
        </ul>
        <div class="GrobalNavigationSp__trigger js-GrobalNavigationSp__trigger"></div>
      </div>
    </header>
    <nav class="GrobalNavigationSp js-GrobalNavigationSp">
      <ul class="GrobalNavigationSp__list">
        <li class="GrobalNavigationSp__item">
          <a href="/about">銭湯ぐらしとは</a>
        </li>
        <li class="GrobalNavigationSp__item">
          <a href="/#project">私たちにできること</a>
        </li>
        <li class="GrobalNavigationSp__item">
          <a href="/member">銭湯ぐらしの人々</a>
        </li>
        <li class="GrobalNavigationSp__item">
          <a href="/history">創業までのおはなし</a>
        </li>
      </ul>
    </nav>
    <div class="HeroImage js-Parallax">
      <div class="HeroImage__inner js-Parallax__inner">
        <div class="HeroImage__image" style="background-image:url('/dest/images/project/area_produce/hero.jpg')"></div>
      </div>
    </div>
    <section class="Module Module--top">
      <article class="Article Article--withColumn">
        <div class="Article__headingContainer">
          <h1 class="Heading Heading--level1 Heading--vertical Module__heading Article__heading">お風呂と旅の<br>プロデュース<br></h1>
        </div>
        <!-- /.Article__headingContainer -->
        <div class="Article__body">
          <div class="Text">
            <p class="Text__paragraph">海外の旅人を対象とした、その土地の魅力を生かしたお風呂体験のプロデュースを行います。<br>”日本の体験文化”として重要な役割を占める「お風呂」。温泉・銭湯などそれぞれ使われ方は異なりますが、特に銭湯は初めてその地を訪れた人にとって、地域の人と出会い、空気感を感じる「体験のコンテンツ」としての可能性を秘めています。その地を訪れた人が集う場所となるような、銭湯の新しい活用方法の提案を行います。<br></p>
          </div>
        </div>
        <!-- /.Article__body -->
      </article>
    </section>
    <section class="Module">
      <h1 class="Heading Heading--level1 Heading--horizontal Module__heading">事業の具体例</h1>
      <ul class="Module__horizontalList">
        <li class="Module__horizontalListItem">旅における新しい体験施設としての銭湯・温泉の活用提案</li>
        <li class="Module__horizontalListItem">外国人利用時におけるノウハウ提供</li>
        <li class="Module__horizontalListItem">「銭湯ぐらし」プロデュース施設の情報発信</li>
      </ul>
      <div class="Module__gridListContainer">
        <ul class="GridList GridList--large">
          <li class="GridList__item">
            <div class="Cell">
              <div class="Cell__thumbnail" style="background-image:url('/dest/images/project/area_produce/example_1.jpg')"></div>
              <p class="Cell__caption">訪日外国人を対象とした短期宿泊の運営を実施。銭湯を「旅のくらし」の中に取り入れながら東京を楽しむという新しいスタイルの宿泊体験を提供した</p>
            </div>
          </li>
          <li class="GridList__item">
            <div class="Cell">
              <div class="Cell__thumbnail" style="background-image:url('/dest/images/project/area_produce/example_2.jpg')"></div>
              <p class="Cell__caption">外国人利用に対応したサインや入浴方法などのツール制作および、銭湯ぐらしによるプロデュース施設を観光需要と結びつける企画提案を実施</p>
            </div>
          </li>
        </ul>
      </div>
      <!-- /.Module__gridListContaier -->
    </section>
    <!-- /.Module -->
    <section class="Module">
      <article class="Article Article--horizontal">
        <div class="Article__headingContainer">
          <h1 class="Heading Heading--level1 Heading--horizontal Module__heading">メッセージ</h1>
        </div>
        <!-- /.Article__heading -->
        <div class="Article__body">
          <div class="Text Module__text">
            <p class="Text__paragraph">最近の観光のあり方として、「その土地に『くらす』ような旅」が注目されています。街全体を大きな「宿」と捉えたとき、銭湯はいわば街の大浴場です。その土地に生きる人のくらしを体験できる場所、「土地」と「くらし」と「人」を結びつける「新しい観光の拠点」としての銭湯を提案したいと考えています。</p>
          </div>
        </div>
        <!-- /.Article__body -->
      </article>
      <!-- /.Article -->
    </section>
    <!-- /.Module -->
    <div class="Footer">
      <p class="Footer__text">© 2018 Sentogurashi,inc</p>
    </div>
  </div><!-- /.Container -->
  <!-- GA -->
  <script>
    (function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-100837084-1', 'auto');
    ga('send', 'pageview');
  </script>
  <!-- /GA -->
</body>

</html>